#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: gray;
    color: white;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(223, 203, 203);

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 42, 42);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
button{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: none;
        background-color: rgb(95, 94, 94);
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
}
button:hover{
        background-color: grey;
}
button:active{
       background-color: rgb(129, 129, 199);
}
.operator{
    background-color: orange;
}
.operator:hover{
    background-color: orange;
}
.operator:active{
    background-color: cyan;
}